<header>
    <div class="logo">
      <a href="/">エスデス (SDES)</a>
    </div>
    <nav class="nav-links">
      <a href="/students">Students</a>
      <a href="/instructors">Instructors</a>
      <a href="/schedules">Schedules</a>
      <a href="/settlement">Settlement</a>
    </nav>
  </header>