<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style_folder/header.css">
    <link rel="stylesheet" href="/style_folder/schedules/main.min.css">
    <link rel="stylesheet" href="/style_folder/schedules/index.css">
    <script src="/style_folder/schedules/main.min.js"></script>
    <title><%= title %></title>
  </head>
<body>
  <%- include('../_header') %>
  <h1>Schedules</h1>
  <div id="calendar"></div>
  <script>
      document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
          initialView: 'dayGridMonth',
          initialDate: '2025-01-01',
          dateClick: function(info) {
          // This gives me a view of the individual day.
          window.location.href = '/schedules/day/' + info.dateStr;
        }
        });
        calendar.render();
      });
  </script>
</body>
</html>