/* Force the scrollbar to always be present */
html {
  overflow-y: scroll;
}

/* Color Palette */
:root {
  --primary: #4a4a4a; /* Dark Gray */
  --secondary: #b0b0b0; /* Light Gray */
  --accent: #d9d9d9; /* Very Light Gray */
  --hover: #a8d5ba; /* Gentle Green */
}

.header {
  background-color: #f8f9fa;
  padding: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

.logo {
  text-align: center;
  margin-bottom: 20px;
}

.logo a {
  font-size: 1.5rem;
  color: #333;
  text-decoration: none;
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-links a {
  color: #333;
  text-decoration: none;
  padding: 10px 20px;
  margin: 0 10px;
  display: inline-block;
}

.nav-links a:hover,
.nav-links a.active {
  color: #fff;
  background-color: #a8d5ba; /* Change to the gentle green color */
  border-radius: 5px;
}